$primary: #912d83;
$primary-hover: #bdbdbd;

$text-primary: #ff00d4;
$text-secondary: #909090;

$border-primary: #3d3d3d;
$border-secondary: #474747;

$background-primary: #ffffff;
$background-secondary: #1d1d1d;
$background-tertiary: #ffbff1;
$background-quaternary: #3d3d3d;
$background-quaternary__blur: #fc92f344;

$success: #69af00;
$danger: #ff0a4e;
